<html>
  <head>
    <!-- Ensures that IE and Edge uses the latest version and doesn't emulate an older version -->
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <!-- Ensures the web page looks good on all screen sizes. -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Booking</title>
    <link
      href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css"
      rel="stylesheet"
    />
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
    <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>
    <link href="/css/locator.css" rel="stylesheet" />
  </head>
  <body onload="initialise()">
    <header>
      <h2>Responsive Booking Form</h2>
    </header>
    <main>
      <div class="searchPanel">
        <div>
          <input id="searchTbx" type="search" placeholder="Find a store" />
          <button id="searchBtn" class="btn" title="Search"></button>
        </div>
      </div>
      <div id="listPanel"></div>

      <div id="mp"></div>
      <button id="myLocationBtn" class="btn" onclick="geoLocation()">
        Location
      </button>
      <button id="routeBtn" class="btn" onclick="route()">Routes</button>

      <!--
<section>
        <form method="post" action="/user/book">
          <div className="row clearfix">
            <div className="col_half">
              <div className="input_field">
                <span><i aria-hidden="true" className="fa fa-user"></i></span>
                <select name="salon">
                  <option value="">Select Salon Name</option>
                </select>
              </div>
            </div>
          </div>

          <input className="button" type="submit" value="Register" />
        </form>
      </section>
      -->
    </main>
    <script src="/js/locator.js"></script>
  </body>
</html>
