<html>
  <head>
    <title>Registration Page</title>
  </head>
  <body onload="createMap()">
    <%- include('header.ejs'); %>
    <div>Welcome home</div>
    <div id="mp"></div>
    <script src="js/util.js"></script>
  </body>
</html>
