<html>
  <head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header.ejs'); %>
    <div>Welcome home</div>
    <div id="mp"></div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
