<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <% if (typeof msg !== 'undefined') { %>
    <h2><%= msg %></h2>
    <% }; %>
    <form method="post" action="/owner/login">
      <div className="form-group mb-3">
        <input
          className="form-control"
          label="Username"
          placeholder="Email Address"
          name="username"
          type="email"
        />
      </div>
      <div className="form-group mb-4">
        <input
          className="form-control"
          label="Password"
          placeholder="Password"
          name="password"
          type="password"
        />
        <input type="hidden" name="tok" value="AIzaSyA8" />
      </div>
      <div className="custom-control custom-checkbox  text-left mb-4 mt-2">
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
